/* ------------------------------
   MAIN GRID CONTAINER
------------------------------ */
main.container {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectionArea {
    display: flex;
}

.tab {
    border-bottom: 1px solid #ccc; /* light divider line */
    background: none;
}

/* Base button style */
.tab button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    border-bottom: 3px solid transparent; /* invisible underline */
    transition: 0.3s;
}

/* Hover effect */
.tab button:hover {
    border-bottom: 3px solid gold;
}

/* Active tab underline */
.tab button.active {
    border-bottom: 3px solid gold; /* your chosen highlight color */
    font-weight: bold;
}

/* Tab content */
.tabContent {
    display: none;
    padding: 20px 0;
}

.albums {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.album-item {
    display: flex;
    align-items: left;
    gap: 2rem;
    justify-content: left;
}

.album-details{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.album-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.album-details button {
    padding: 10px 16px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.25s ease, transform 0.15s ease;
}

.album-details button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #8C8B8B;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}
