.albums {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.album-item {
    display: flex;
    align-items: left;
    gap: 2rem;
    justify-content: left;
}

.album-details{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.album-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    display: block;
}